<h1 class="todo_list_title">Edit Todo List</h1>

<div class="forms">
  <%= render 'form' %>
</div>

<div class="links">
  <%= button_tag "Cancel", :type => 'button', :class => "btn btn-warning links", :onclick => "location.href = '#{todo_lists_path}'" %>
</div>
