<div class="jumbotron" id="main-header">
  <h1>Create a New Todo List Here</h1>
  <h3>Enter your list's title and description.</h3><br>
</div>

<div class="forms">
  <%= render 'form' %>
</div>

<div class="links">
  <%= button_tag "Back", :type => 'button', :class => "btn btn-warning links", :onclick => "location.href = '#{todo_lists_path}'" %>
</div>
